<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Your Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

    <div class="container pull-left">
        <h3>Your Profile</h3>
        <div class="row pull-left">
            <div class="col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-12">
                <div class="well profile">
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-8">
                            <h2> <%=user.local.companyname%></h2>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <figure>
                                <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">

                            </figure>
                        </div>
                    </div>

                    </div>
                    <div>
                        <br><br>


                </div>
            </div>
        </div>
    </div>
</div>


    </div>

</div>

</body>
</html>