<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Your Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        {word-wrap:break-word; }
    </style>
</head>
<body>
<!---------------- NAV BAR -------->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="glyphicon glyphicon-sunglasses"></span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">JobFlex</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/companyprofile">Home</a></li>
                <li><a href="/candidateSearchresults">View Candidate Matches</a></li>
                <li><a href="/editprofile">Edit Profile</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!---------------- NAV BAR END -------->

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

    <div class="container pull-left">
        <h3>Your Profile</h3>
        <div class="row pull-left">
            <div class="col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-12">
                <div class="well profile">
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-8">
                            <h2> <%=user.local.companyname%></h2>
                            <h2> <%=user.local.company.description%></h2>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <figure>
                                <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">

                            </figure>
                        </div>
                    </div>
                    <a href="/postJobs" class="btn btn-default"><span class="fa fa-user"></span> Post Jobs</a>
                    <a href="/editJobs" class="btn btn-default"><span class="fa fa-user"></span> Edit Job Postings</a>
                    <a href="/companyCultureList" class="btn btn-default"><span class="fa fa-user"></span> Edit Company Culture List</a>
                    </div>
                    <div>
                        <br><br>


                </div>
            </div>
        </div>
    </div>
</div>


    </div>

</div>

</body>
</html>