<!doctype html>
<html>
<head>
    <title>Signup for JobFlex</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="sortable-master/Sortable.js"></script>
    <script src="http://rubaxa.github.io/Ply/Ply.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>


    <script src="sortable-master/ng-sortable.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="public/registrationStyle.css" type="text/css"/>
    <link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="public/registrationJS.js"></script>

</head>
<body>

<!---------------- NAV BAR -------->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="glyphicon glyphicon-sunglasses"></span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">JobFlex</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/companyprofile">Home</a></li>
                <li><a href="/candidateSearchresults">View Candidate Matches</a></li>
                <li><a href="/editprofile">Edit Profile</a></li>
                <li><a href="/jobpost">Post Job</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!---------------- NAV BAR END -------->

<<div class="container">
    <div class="container">
        <div class="jumbotron">
            <h1>Post A New Job!</h1>
            <p>Enter a Job!</p>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
            <div class="row">
                <form id="candidate-register-form" action="" method="post" role="form" style="display: block;">
                    <div class="form-group">
                        <input type="text" name="company" id="jobtitle" tabindex="1" class="form-control" placeholder="Company Name" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" name="companywebsite" id="companywebsite" tabindex="2" class="form-control" placeholder="Company Website" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" name="jobtitle" id="jobtitle" tabindex="2" class="form-control" placeholder="Job Title" value="">
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Job Type
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Internship</a></li>
                            <li><a href="#">Part-Time</a></li>
                            <li><a href="#">Full-Time</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="text" name="jobdescription" id="jobdesc" tabindex="2" class="form-control" placeholder="Job Description" value="">
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Job Category
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">Mathematics</a></li>
                            <li><a href="#">Technology</a></li>
                        </ul>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="postjob" id="postjob" tabindex="8" class="form-control btn btn-register" value="Post Job!">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>