<!DOCTYPE html>
<html lang="en">
<head>
    <title>Candidate Search Results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSR.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="CSR.js"></script>
</head>

<body>
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-2" id="border-right"> <!--id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                    <td class="col-sm-12">
                        <h1>Job Matches</h1>
                        <h5>Earn Points by Applying!</h5>
                        <hr style="border-width: 3px">
                    </td>

                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-0">
                            <img src="https://assets.dice.com/external/images/empLogos/66e8480fd50d60298e40d4695d74e937.jpg">

                        </a>
                    </td>

                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-1">
                            <img src="https://assets.dice.com/external/images/empLogos/b8e580d631966d9b28d518a37da2582d.gif"></a>
                    </td>

                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-2"><img src="http://assets.dice.com/external/images/grpLogos/1434744ejvImage.gif"></a>
                    </td>

                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-3"><img src="https://assets.dice.com/external/images/empLogos/32652largeLogo.gif"></a>
                    </td>

                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-4"><img src="http://assets.dice.com/external/images/grpLogos/287569ejvImage.gif"></a>
                    </td>

                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-5"><img src="https://assets.dice.com/external/images/empLogos/53f972166af28ff30a3c45a53d701ff8.gif"></a>
                    </td>
                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-6"><img src="http://assets.dice.com/external/images/grpLogos/933829ejvImage.gif"></a>
                    </td>

                    <td class="col-sm-12">
                        <a class="thumbnail" id="carousel-selector-7"><img src="https://assets.dice.com/external/images/empLogos/333d7baa0f30ab42288da033d9e88e77.png"></a>
                    </td>



            </div>
            <div class="col-sm-10" style="margin-top: 20%; margin-bottom: 20%">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel" style="max-height= 200px; overflow: auto">
                                <!-- Carousel items -->
                                <div class="carousel-inner" id="border-top-bottom">
                                    <div class="active item" data-slide-number="0">
                                        <h1>Front End/MEAN Developer</h1>
                                        <h3 align="center">Earn 10 Points by Applying!</h3><br/>

                                        <p>
                                            Our Exchange's diverse markets span futures and options on interest
                                            rates, commodities, indexes and FX, as well as equities and equity options.
                                            These markets are relied upon by international market participants, along
                                            with our post-trade infrastructure. We are uniquely positioned to provide
                                            end-to-end risk management solutions to our customers around the world

                                            Job Description
                                            Talented MEAN-Stack developer to translate business requirements into
                                            homegrown applications. Day to day responsibilities will be as primary
                                            developer on NodeJS content management tools and projects.

                                            Responsibilities
                                            Responsible for coding application, testing software as needed.
                                            Strong written and verbal communication skills.
                                            Collaboration with team of developers.
                                        </p>
                                       </div>

                                    <div class="item" data-slide-number="1">
                                        <h1> Front End Web Developer </h1><br/>
                                        <p>
                                            Looking for a MEAN UI Architect with a deep and sometimes insatiable curiosity.
                                            You desire to make things from scratch, make them better and make them memorable.
                                            You have a passion for technology and are an enthusiastic about sharing what is possible.
                                            You firmly believe that technology can solve even the most complex of problems and tell some of the most
                                            interesting stories.<br/><br/>
                                            You have demonstrated senior-level Frontend Development and Architecture experience ideally working with varied
                                            teams on major web applications. You have a strong knowledge of front-end web, mid-level applications, social
                                            and digital platforms and the technologies that make them work. You carry a skill set that allows
                                            you to plan, collaborate and execute great digital work all in equal measure.
                                        </p>
                                    </div>

                                    <div class="item" data-slide-number="2">
                                        <h1>Software Engineer (MEAN Stack)</h1><br/>
                                        <p>
                                        Our client is pioneering a cloud-based platform to enable the real-time design, ordering, and production
                                        of our therapeutic products.  A critical component of this platform is an automated, integrated production
                                        pipeline. As an Informatics Software Engineer, you will work with the on-site engineering team to deliver
                                        user-facing web applications built on the MEAN stack (MongoDB, Express, AngularJS, node.js). You will also
                                        develop client-side tools in to integrate production instruments and systems. <br/><br/>

                                        The successful candidate will enjoy working closely with users to understand their workflows and needs.
                                        They will have a talent for understanding complex problems and designing solutions. They will also be
                                        comfortable working in an intense, fast-paced environment. The work done by the software engineering
                                        team will dramatically improve the performance and quality of production pipeline, which will accelerate
                                        the development of our product.
                                        </p>
                                    </div>

                                    <div class="item" data-slide-number="3">
                                        <h1>Mean Fullstack Developer</h1><br/>
                                        <p>The Associate Software Engineer is a full stack software engineer that is responsible for the
                                            development, testing and deployment of world-class software.  In this position the associate will
                                            be responsible for delivering full vertical slices of system functionality by developing the user
                                            interface, middle tier and data tier for product owner defined stories.<br/><br/>

                                            We are building out a new technology platform and applications using open source technology, with
                                            a heavy emphasis on angular.js. Other technologies include node.js, MongoDB, 0MQ, python, HTML5 and CSS.
                                            We firmly believe in the power of combining technology with entrepreneurial spirit.
                                        </p>
                                    </div>

                                    <div class="item" data-slide-number="4">
                                        <h1>Mean Stack UX Designer/Developer</h1><br/>
                                        <p>
                                            The US federal government’s EHR Meaningful Use incentive program has positioned the Electronic Medical
                                            Record (EMR) as a “must have” for every organization that delivers healthcare. As a result, health
                                            systems and medical practices are amassing enormous stores of clinical, operational and financial data.
                                            Leveraging that data to improve health, lower costs, and deliver excellent patient experience is the
                                            promise of the EMR; analytics is a key component to unlocking that potential.<br/><br/>

                                            This project will establish a Big Data ecosystem for  patient care information; enabling multiple
                                            stakeholders to securely process and analyze the data at scale. The role of the User Experience (UX)
                                            Designer/Developer is to be the creator and chief designer of how people interact with this environment.
                                        </p>
                                    </div>

                                    <div class="item" data-slide-number="5">
                                        <h1>Full Stack Engineer (MEAN Stack)</h1><br/>
                                        <p>
                                            Incapsulate provides services from conception to delivery. We are a team of developers, designers,
                                            and analysts who are committed to helping businesses solve problems using state-of-the-art technology.
                                            We believe that the best results are achieved by people who are passionate about what they do and
                                            continually strive to be better - those are the people we hire.<br/><br/>

                                            Incapsulate is searching for a Full Stack Engineer (MEAN stack) for our client in the Ashburn, VA area.
                                            This position will require some onsite work with the ability to also work remotely. This is an
                                            opportunity for a Mid / Senior level developer to take the next step in their career. You must be a
                                            confident self-starter - someone who can take ownership of the code and think of it as their own.
                                            You must also be someone who wakes up in the morning and thinks “how can I make this better”?
                                        </p>
                                    </div>

                                    <div class="item" data-slide-number="6">
                                        <h1>Sr. Software Developer - MEAN Stack</h1><br/>
                                        <p>
                                            Our client is a leading digital marketing agency in Midtown who is
                                            currently looking for a solid front end developer.  Excellent benefits, awesome work environment.
                                            Apply today for immediate consideration.<br/><br/>

                                            <b>Responsibilities:</b><br/>

                                            <ul>
                                            <li>Concept, plan, and execute with integrated teams to create creative work</li>
                                            <li>Contribute to and be proactive with the ongoing improvement of internal processes as they relate
                                                to technology usage and implementation</li>
                                            <li>Ability to execute on basic development needs including display media, landing pages, social activations,
                                                small websites and mobile/tablet optimized (responsive) experiences reference and support on backend,
                                                data and server side technologies</li>
                                            <li>Lead UX, architecture and functional requirements development</li>
                                            <li>Prototype development for proving out solutions and user testing</li>
                                            <li>Liaise with third-party production partners and development teams to assure proper standards and practices
                                                through collaboration, code reviews and QA processes</li>
                                            </ul>
                                        </p>
                                    </div>

                                    <div class="item" data-slide-number="7">
                                        <h1>Sr. Front End Developer (MEAN Stack)</h1><br/>
                                        <p>
                                            Modern application design and natural user interfaces are transforming the web into highly
                                            interactive experiences.We are seeking an experienced Front-End Developer that has the ability to transform
                                            beautiful UI designs into working applications. <br/><br/>

                                            The ideal candidate will have experience with HTML5, JavaScript, AngularJS, and Bootstrap CSS, RESTAngular,
                                            Node, Mongoose, Mongo. You will also be able to translate Wireframes and PSD Designs into functional web apps
                                            using HTML5, AngularJS, Node.js, and Mongo Binding of UI elements to JavaScript object models Creating RESTful
                                            services with Node.js Architect scalable web architectures.
                                        </p>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>
</body>
</html>